[Unit]
After=postgresql-healthy.service
Requires=postgresql-healthy.service

[Container]
Image=ghcr.io/goauthentik/server:2026.2
Exec=server
Network=authentik.network
PublishPort=127.0.0.1:9000:9000
Volume=%h/authentik/data:/data
Volume=%h/authentik/custom-templates:/templates
EnvironmentFile=%h/.config/containers/systemd/.env
Environment=AUTHENTIK_POSTGRESQL__HOST=postgresql
Environment=AUTHENTIK_POSTGRESQL__NAME=${PG_DB}
Environment=AUTHENTIK_POSTGRESQL__USER=${PG_USER}
Environment=AUTHENTIK_POSTGRESQL__PASSWORD=${PG_PASS}
Environment=AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY}
ShmSize=512m

[Service]
Restart=always
