[Container]
Image=docker.io/library/postgres:16-alpine
ContainerName=postgresql
Network=authentik.network
Volume=authentik-database.volume:/var/lib/postgresql/data
EnvironmentFile=%h/.config/containers/systemd/.env
Environment=POSTGRES_DB=${PG_DB}
Environment=POSTGRES_USER=${PG_USER}
Environment=POSTGRES_PASSWORD=${PG_PASS}
HealthCmd=pg_isready -d $POSTGRES_DB -U $POSTGRES_USER
HealthInterval=30s
HealthTimeout=5s
HealthStartPeriod=20s
HealthRetries=5
AutoUpdate=registry

[Service]
Restart=always
